// IMPORT PARTIALS

@use '_design' as *;
@use '_placeholder' as *;
@use '_component' as *;
@use '_global' as *;

// BODY

.body__contact {
    min-height: 100vh;
}

// MAIN

.main__contact {

    &__title {
        padding: 8rem 0 8rem;
        font-family: $font-title;
        font-size: 3.5rem;
        @media screen and (min-width: 768px) {
            padding: 8rem 0 15rem;
            font-size: 5rem;
        }
    
    }

    &__content {
        font-family: $font;

        &__details {
            padding-bottom: 5rem;
            @media screen and (min-width: 992px) {
                padding-bottom: 0; 
            }

            .details--item {
                margin: 1.5rem 0;
                font-size: 1.5rem;

                .details--link {
                    margin-left: 2rem;
                    transition: color 250ms ease-in;
                }

                .details--link:hover {
                    color: $gold;
                }
            }
        }

        &__form {
            font-size: 1.5rem;
        }
    }
}