// IMPORT PARTIALS

@use '_design' as *;
@use '_placeholder' as *;
@use '_component' as *;
@use '_global' as *;

.header__hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font;
    color: $white;
    background-image: url('../../img/association_ventoux_images_header_hero.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;

    &__nav {
        font-size: 1.5rem;
    }

    &__title {
        font-family: $font-title;

        .title--hero {
            font-size: 3.5rem;
            @media screen and(min-width: 768px){
                font-size: 5rem;
            }
        }
        
        .subtitle--hero {
            padding: 5rem 0;
            font-size: 2.5rem;
            @media screen and(min-width: 768px){
                font-size: 4rem;
            }
        }

        .button--hero {
            padding: 1.5rem 4rem;
            font-family: $font;
            font-size: 1.2rem;
            font-weight: bold;
            @media screen and(min-width: 768px){
                padding: 2rem 5rem;
                font-family: $font;
                font-size: 1.5rem;
            }
        }
    }
}

.main__whoweare {

    &__title {
        font-family: $font-title;
        font-size: 2.5rem;
        @media screen and(min-width: 768px){
            font-size: 4rem;
        }
    }

    &__content {
        font-family: $font;
        font-size: 1.5rem;
    }
}

.member {

    &__title {
        font-family: $font-title;
        font-size: 2.5rem;
        @media screen and(min-width: 768px){
            font-size: 4rem;
        }
    }

    &__content {
        font-family: $font;

        .card {
            border: none;
            box-shadow: 0 0 16px rgba($color: $black, $alpha: 0.5);
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .card-social {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

